* { margin: 0; padding: 0; box-sizing: border-box; }
html{background: url(http://lh5.ggpht.com/_sCVW6_19AYk/TPz9WmVuP8I/AAAAAAAADXk/Uw1I0LBBWPQ/animated-screensavers_thumb.gif?imgmax=800) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
body { font: 13px Helvetica, Arial; }
/*#box {overflow: scroll; } To try and get a scroll box around the element*/
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form #button { 
  color:#FFF; background: #2D9F0B; border: none;
  padding: 10px;  width: 9%; 
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
  }
form #button:hover{
  color:#FFF; background: #FF69B4; border: none;
  padding: 10px;  width: 9%; 
    -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(10deg);
       -o-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}   

#messages { list-style-type: none; margin: 0; padding: 0;padding-bottom: 50px;  }
#messages li { padding: 10px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#notifyUser { position: fixed; bottom: 42px; width: 100%; }
#userpic{display:none;}
#circular {
  width: 20px;
  height: 20px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }